body {
    background-color: #0D0208;
}

h1, div {
    color: #008F11;
}

.loader {
    border: 16px solid #003B00; 
    border-top: 16px solid #00FF41; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }